*{
    margin: 0;
    padding: 0;

    font-family: "Oswald", sans-serif;
}

.page {
    padding: 1rem;
}

.trace-container{
    align-items: start;
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.trace-input-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    gap: 1rem;
    width: 550px;
}

.trace-input-container button {
    border: none;
    background: black;
    color: white;
    border-radius: 10px;
    padding: 0.75rem;
    font-size: 0.9rem;
    cursor: pointer;
}

.trace-input-container textarea {
    background: #efefef;
    border: none;
    height: 200px;
    padding: 1rem;
    resize: none;
}

.trace-node-container {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.trace-node {
    border: 1px solid #d5d5d5;
    background: white;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.trace-node .badge {
    color: white;
    background: rgba(0, 122, 236, 0.7);
    border-radius: 10px;
    width: fit-content;
    padding: 5px 10px;
    font-size: 0.8rem;
}

.trace-node.usercode {
    background: rgba(0, 122, 236, 0.1);
    border: 1px solid rgba(0, 122, 236, 0.7);
}

.trace-cause-container {
    background: rgba(209, 0, 0, 0.1);
    border: 1px solid rgba(209, 0, 0, 0.3);
    color: rgba(209, 0, 0, 0.7);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

h2, h3, h4 {
    margin: 0.5rem 0;
}

