<nav class="navbar-container">
    <ul class="navbar">
        <li class="nav-item">
            <a href="/" style="font-size: 1.5rem;">TraceLens</a>
        </li>
        
        <div class="navbar-icons">
            <a href="https://github.com/0ls3n/TraceLens" target="_blank" class="navbar-icon">
                <img src="images/icons/icon-github.svg"/>
            </a>
            <a href="https://buymeacoffee.com/0ls3n" target="_blank" class="navbar-icon">
                <img src="images/icons/bmc-logo-no-background.png" width="20" height="25"/>
            </a>
        </div>
    </ul>
</nav>